.intro-container {
    display: flex;
    align-items: center; /* vertically center the image and text */
    gap: 30px; /* space between image and text */
    margin-top: 50px; /* move the whole section down */
}

.profile-photo img {
    width: 300px;
    border-radius: 80px;
    display: block;
    margin: 20px;
    float: left;
}

/* Text styling */
.intro-text h1 {
    font-size: 3rem; /* make name bigger */
    color: #000080
    margin: 0;
}

.intro-text p {
    font-size: 1.2rem; /* adjust paragraph size */
    color: #333333;
    margin-top: 10px;
    line-height: 1.5;
}
