/* Top nav bar */
.top-nav {
    width: 100%;
    background-color: #ADD8E6; /* light blue */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 20px;  /* padding inside the bar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Links on the right */
.nav-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #0073e6;
}


/* Fonts */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333; /* text color */
    background-color: #f9f9f9; /* background color */
}

/* Headings */
h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: #222222;
}


.profile-photo img {
    width: 250px;       
    border-radius: 20px;  
    margin: 80px 0 20px 30px; /* move down and right */
    float: left;          
}


body {
    padding-top: 60px; /* space for top nav */
}
