body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #f9f9f9;
    padding-top: 50px; 
}


.top-nav {
  background-color: pink;
  padding: 1rem 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.site-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  white-space: nowrap;
}

.nav-links a {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: hotpink;
}

.nav-links a:last-child {
  margin-right: 1rem;
}










h1 {
  margin-left: 50px; /* Adjust the value as needed (px, em, rem, %) */
  margin:50px;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: #222222;
}



.project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
    background-color: #fad2ec;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project-card a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}


